@import url('https:fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Odibee+Sans&display=swap');
@import url('https:fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Odibee+Sans&display=swap');
.mainPage {
opacity: 0;
transform: translateY(10px);
animation: pageIn 0.9s ease forwards;
height: 100%;
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items:center ;
background: radial-gradient(circle at center,rgb(48, 20, 0)60%);
}
@keyframes pageIn {
to {
opacity: 1;
transform: translateY(0);
}
}
.Box{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
min-height: 600px;
max-height: 600px;
}
.Box .content{
width: 90%;           
max-width: 500px;     
min-height: 600px;    
border-radius: 20px;
margin: 0 auto;       
padding: 6px;        
display: grid;
grid-template-rows:150px 1fr 100px;
}
.content .Box1{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
row-gap: 20px;
padding: 5px;
}
.content h1{
display: block;
letter-spacing: 2px;
font-family: "Alegreya SC", serif;
font-weight: 600;
font-style: normal;
background: linear-gradient(90deg,rgb(241, 205, 138),rgb(236, 159, 4),rgb(241, 205, 138));
background-size: 200%;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: shimmer 1.5s infinite linear;
}
@keyframes shimmer{
from{
background-position: 0%;
}
to{
background-position: 200%;
}
}
.content p{
max-width: 500px;
font-size: 1.1rem;
letter-spacing: 1px;
font-family: "Amaranth", sans-serif;
font-weight: 400;
font-style: normal;
color: rgb(255, 204, 136);
text-align: center;
line-height: 1.5;
}
.content .Box2{
display: flex;
justify-content: center;
align-items: center;
}
.Box2 .Form,.welcome{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 90%;
max-width: 600px;
height: auto;    
border-radius: 20px;
padding: 20px;
gap: 13px;
transition: all 0.8s ease;
}
.Form:hover{
box-shadow: 2px 2px 3px rgb(248, 215, 143),-2px -2px 3px rgb(248, 215, 143);
transform:scale(1.03);
}
.Form h3{
display: block;
margin-bottom: 10px;
font-size: 1.2rem;
font-family: "Amaranth", sans-serif;
font-weight: 400;
font-style: normal;
color: rgb(255, 204, 136);
}
.Form input,.welcome input{
font-family: "Amaranth", sans-serif;
width: 90%;
padding: 13px 18px;
border-radius: 20px;
border: none;
outline: none;
background-color: rgb(240, 209, 182);
font-size: 0.9rem;
color: rgb(63, 41, 0);
transition: all 0.8s ease;
}
.Form button,.welcome button{
width: 90%;
padding: 10px;
border-radius: 20px;
border: none;
outline: none;
margin-top: 15px;
font-family: "Amaranth", sans-serif;
font-weight: 500;
font-size:1.2rem;
color:rgb(255, 209, 175) ;
cursor: pointer;
background: linear-gradient(0deg,rgb(59, 25, 0),rgb(238, 198, 151) );
transition: all 0.9s ease;
}
.Form button:hover,.welcome button:hover{
box-shadow: 0px 0px 3px rgb(238, 198, 151),
0px 0px 3px rgb(238, 198, 151);
}
.content .Box3{
background-color: transparent;
}
.countdownBox {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
padding: 1px;
border-radius: 12px;
}
.wait{
font-family: "Amaranth","sans-serif";
font-size: 1.3rem;
color: rgb(236, 187, 144);
}
.outer{
display: flex;
justify-content: center;
align-items: center;
gap: 13px;
}
.outBox{
width: 50px;
height: 60px;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.outBox .timeBox{
display: inline-block;
background-color: #ffecb3;
box-shadow: 0px 0px 3px #ffecb3,0px 0px 3px #ffecb3;
width: 40px;
padding: 10px;
height: 40px;
border-radius: 10px;
}
.outBox .timeBox h2,.welcome h2{
text-align: center;
font-size: 1rem;
margin: 0;
font-family: "Amaranth","sans-serif";
color: rgb(59, 39, 0);
}
.outBox .names,.blockScreen h2{
margin-top: 5px;
font-family: "Amaranth","sans-serif";
font-size: 0.9rem;
font-weight: 500;
color: #ffecb3;
}
.msg {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 20px;
opacity: 0;
animation: fadeIn 1s ease forwards, pulseScale 1.5s ease-in-out 1s infinite;
}

.msg h2 {
font-family: "Alegreya SC", serif;
color: #ffd97f;
text-align: center;
letter-spacing: 1px;

}
.msg h2:last-child {
font-size: 1rem;
}


@keyframes fadeIn {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}



@keyframes pulseScale {
0% { transform: scale(1); }
50% { transform: scale(1.2); }
100% { transform: scale(1); }
}
.welcome{
gap: 13px;
}
.welcome .Form input{
width: 100%;
}
.welcome .Form button{
width: 100%;
margin-top: 5px;
}
.welcome h2{
color: #ffecb3;
font-size: 1.2rem;
}
.welcome .title{
display: flex;
flex-direction: column;
gap: 10px;
margin-bottom: 5px;
}
.blockScreen{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}
.blockScreen h2{
font-size: 1.3rem;
}
.backBtn{
margin-top: 20px;
width: 100px;
border:none;
padding:10px 30px;
border-radius: 20px;
font-family: "Amaranth","sans-serif";
font-size: 1.2rem;
color: rgb(238, 198, 151);
cursor: pointer;
background: linear-gradient(0deg,rgb(59, 25, 0),rgb(238, 198, 151) );
}
.backBtn:hover{
box-shadow: 0px 0px 3px #ffecb3,0px 0px 3px #ffecb3;
}
.Form input:-webkit-autofill {
-webkit-box-shadow: 0 0 0px 1000px #ffecb3 inset !important;
box-shadow: 0 0 0px 1000px #ffecb3 inset !important;
-webkit-text-fill-color: rgb(59, 39, 0) !important;
transition: background-color 9999s ease-in-out 0s;
border: none;
}
.Form input:placeholder-shown {
background-color: rgb(240, 209, 182);
}

.Form input:not(:placeholder-shown) {
background-color: #ffecb3;
box-shadow: 0 0 6px #ffd97f;
color: rgb(59, 39, 0);
}
.bottom{
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
margin-top: 20px;
}
.bottombtn{
width: 40px;
height: 40px;
border-radius: 50%;
background-color: transparent;
border: none;
color: white;
box-shadow: 0px 0px 3px #f3e0a8,0px 0px 3px #f3e0a8;
font-size: 1.2rem;
padding: 10px;
cursor: pointer;
}
.heart {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  animation: heartBurst ease-out forwards;
  z-index: 99;
}

@keyframes heartBurst {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    opacity: 0;
    transform:
  translate(
    calc(-50% + var(--xMove)),
    calc(-50% + var(--yMove))
  )
      scale(0.3);
  }
}

.overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.6);
display: flex;
justify-content: center;
align-items: center;
z-index: 10;
}

.commentBox {
background: rgba(190, 189, 189, 0.577);
padding: 10px;
width: 100%;
max-height: 40%;
max-width: 300px;
border-radius: 12px;
text-align: center;
display: flex;
flex-direction: column;
gap: 10px;
transform: translateY(50px);
opacity: 0;
transition: transform 0.35s ease, opacity 0.35s ease;
}

.activecmd {
transform: translateY(0);
opacity: 1;
}
.commentBox h3{
font-family: "Amaranth","sans-serif";
}
.commentBox textarea {
font-family: "Amaranth","sans-serif";
width: 100%;
height: 130px;
margin-top: 10px;
padding:10px;
background-color: #f3e0a8;
font-size: 1rem;
}
.commentBox button{
font-family: "Amaranth","sans-serif";
padding: 5px;
border-radius: 5px;
border: none;
background: linear-gradient(0deg,rgb(59, 25, 0),rgb(238, 198, 151) );
font-size: 1rem;
color:rgb(59, 25, 0);
transition: all 0.8s ease;
font-weight: 500;
cursor: pointer;

}
.commentBox button:hover{
box-shadow: 0px 0px 3px #f3e0a8,0px 0px 3px #f3e0a8;

}
.thankYou {
text-align: center;
font-family: "Amaranth","sans-serif";
padding: 20px;
border-radius: 14px;
background: rgba(255, 255, 255, 0.15);
backdrop-filter: blur(6px);
color: #f3e0a8;
animation: thankYouFade 0.8s ease forwards;
}

@keyframes thankYouFade {
0% {
opacity: 0;
transform: translateY(30px) scale(0.95);
}
100% {
opacity: 1;
transform: translateY(0) scale(1);
}
}
.fadeBox {
  animation: fadeInUp 0.6s ease both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(16px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.skyShot {
  position: fixed;
  bottom: 0;
  width: 4px;
  height: 25px;
  border-radius: 2px;
  animation: shootUp 2.5s ease-out forwards;
  pointer-events: none;
}

@keyframes shootUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-1 * var(--burstY)));
    opacity: 0;
  }
}
.burst {
  position: fixed;
  bottom: 50px;
  width: 10px;        /* size perusa */
  height: 10px;       /* size perusa */
  border-radius: 50%;
  transform-origin: center;
  animation: burstMove 2.5s forwards;   /* slow perusa spread time */
}


@keyframes burstMove {
  from { transform: rotate(var(--angle)) translateY(0px); opacity:1; }
  to { transform: rotate(var(--angle)) translateY(-180px); opacity:0; } /* -180px = perusa spread */
}





@media (max-width: 768px) {


.mainPage {
height: 100vh;
min-height: 100vh;
overflow: hidden;
margin-top: 20px;
}

.Box {
height: 100%;
margin-top: 10px;

}


.Box .content {
width: 95%;
height: 100%;
max-width: 420px;
display: flex;
flex-direction: column;
justify-content: space-between; 
padding: 6px;  
gap: 20px; 
}


.content h1 {
font-size: 2.1rem;   
margin-bottom: 4px;
}

.content p {
display: inline-block;
font-size: 1.2rem;   
line-height: 1.35;  
margin-bottom: 6px;
}


.Form,
.welcome {
gap: 4px;           
padding: 8px;      
}

.Form h3 {
font-size: 1.3rem;  
margin-bottom: 4px;
}

.Form input,
.welcome input {
padding: 10px 14px;
font-size: 1.1rem;  
}

.Form button,
.welcome button {
padding: 8px;
font-size: 1.15rem; 
margin-top: 4px;
-webkit-tap-highlight-color: transparent;
  outline: none;
}
.countdownBox {
gap: 18px;           
}

.outer {
gap: 12px;
}

.outBox {
width: 53px;
height: 58px;
}

.outBox .timeBox {
width: 45;
height: 45px;
padding: 6px;
}

.outBox .timeBox h2 {
font-size: 1.1rem;  
}

.outBox .names {
font-size: 1rem;
}

.wait {
font-size: 1.35rem; 
}


.msg {
margin-top: 0px;   
}

.msg h2 {
font-size: 1.4rem; 
}
.bottom{
margin-top:27px;
}
.bottombtn{
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
.overlay{
  display: flex;
  align-items: center;
}

}