*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
html, body{
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: radial-gradient(circle at center,rgb(48, 20, 0)60%);
}
#root{
  min-height: 100vh;
  width: 100%;
  background-color: transparent;
  background: radial-gradient(circle at center,rgb(48, 20, 0)60%);
}

                                               

